<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>登陆页面</title>
        <link rel="stylesheet" type="text/css" href="/css/main.css" />
        <script type="text/javascript" src="/js/jquery.js" ></script>
    </head>
    <body>
        <h1>登陆页面</h1>
        <form data-type="formAction" action="/ajax/login" form-rediret="/admin/index">
            <table>
                <tr>
                <td>用户名</td><td><input type="text" name="admin_name"></input></td>
                </tr>
                <tr>
                <td>密码</td><td><input type="password" name="admin_password"></input></td>
                </tr>
                <tr>
                    <td><input type="submit" value="登陆" style="width:100px;height:25px"></input></td>
                </tr>
            </table>
        </form>
    </body>
    <script type="text/javascript" src="/js/base.js" ></script>
</html>